<%= yield %>
<h3>Thank you for your order!</h3>
<% @cart_total = 0 %>
<% @order.line_items.each do |line_item| %>
  <%= render 'item', product_id: line_item.product_id, quantity: line_item.quantity %>
<% end %>
<h4> TOTAL: $<%= @cart_total %></h4>
  


